*.{
	width: 100%;
}


body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
    box-sizing: border-box;

    /* setting the box-sizing property to border-box 
    on any element = its padding and 
    borders should be included in the width of the 
    element*/
}

.header-container {
color: white;
background-color: #1F2937;
padding: 16px;
margin: 0;
min-width: max-content;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 100px;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-color: #E5E7EB;
    margin-left:100px;
    margin-right: 100px;
}


.flex-link1 {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.button-one,
.button-two {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 4px 20px;
}

.button-one {
    border: 2px solid #3882F6 ;
}

.button-two {
    border: 2px solid white;
    margin-left: auto;
}



.small-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-section {
    max-width: 400px;
}

.title {
    font-size: 48px;
    font-weight: extra bold;
}

.card-container{
    background-color: white;
    padding: 50px;

}


.card-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    border: 4px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 10px;
    padding: 70px;
    overflow: hidden;
}

.card-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 25px;
}

.blockquote-container {
    background-color: #E5E7EB;
    padding: 25px;

}

blockquote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
}

.quote-author {
    
}

.button-two_container {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-two_wrapper {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    color: white;
    padding: 15px 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.action-text {
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    color: white;
    padding: 25px;
    text-align: center;
}



/*

Issues:

one: Action texts need zero margin
two: UL not aligned with site title
*/




